/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "semantic-ui";

.hide{ display:none; }

.day_container {
  position: relative;
  width: 100%;
  margin: 11px 0;
}


.day_container > div {
    background: #CCC;
    height: 100px;
    position: absolute;
    width: 80px;
    line-height: 66px;
}
.day_container {
    border: 1px dashed #ccc;
    position: relative;
}

.day_container .ss-placeholder-child {
    background: transparent;
    border: 1px dashed red;
}